/* Menu TOPHEADER*/
.topheader {
  position: fixed;
  background-color: #6cd9ad;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
}

.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.Menu-Horizontal li a {
  text-decoration: none;
  padding: 0.938rem 1.25rem;
  color: #003d1c;
}

.Menu-Horizontal li a:hover {
  color: green;
}
.Menu-Vertical {
  padding: 0;
  position: absolute;
  display: none;
  width: 12.5rem;
  list-style: none;
}
.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}
.Menu-Vertical li a {
  display: block;
  list-style: none;
  color: #203b20;
}
.Menu-Vertical li {
  background-color: #6cd9ad;
}
/*SECCION PROMOCION*/
.seccion-promo {
  padding: 3.75rem 1.25rem;
  background-color: cadetblue;
}
.div-gral-promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 110rem;
  margin: 0 auto;
  gap: 2.5rem;
}
.div-promo-texto {
  flex: 1;
}
.div-promo-texto h2 {
  color: #203b20;
  margin-bottom: 0.938rem;
}
.div-promo-texto p {
  color: #003d1c;
  line-height: 1.6;
}
/*Boton*/
.div-promo-texto button {
  margin-top: 1.25rem;
  padding: 0.625rem 1.25rem;
  background-color: cornflowerblue;
  color: blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.div-promo-img {
  flex: 1;
}
.div-promo-img img {
  width: 100%;
  max-width: 31.25rem;
}
/*SECCION PRIVILEGIOS*/
.seccion-privi {
  padding: 3.75rem 1.25rem;
  background-color: cadetblue;
}
.div-gral-privi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 110rem;
  margin: 0 auto;
  gap: 2.5rem;
}
.div-privi-texto {
  flex: 1;
}
.div-privi-texto h2 {
  color: #203b20;
  margin-bottom: 0.938rem;
}
.div-privi-texto p {
  color: #003d1c;
  line-height: 1.6;
}
.div-privi-video {
  flex: 1;
}
.div-privi-video iframe {
  width: 100%;
  max-width: 100%;
  max-width: 31.25rem;
}
/*FORMULARIO*/
.seccion-formulario {
  background-color: #9ada9a;
  padding: 2.5rem;
  border: 0.188rem solid #70c270;
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.div-cont-formulario {
  background-color: #bceebc;
  padding: 1.875rem;
  border: 0.125rem solid #abf1ab;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 100%;
}
.campo {
  background-color: #cfe6cf;
  padding: 0.938rem;
  margin-bottom: 0.938;
  border: 0.063rem solid #b7e2b7;
  border-radius: 0.313rem;
}
.formulario label {
  display: block;
  color: darkcyan;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.formulario input[type="text"],
.formulario select {
  width: 100%;
  padding: 0.625;
  border: 0.094rem solid #2797ff;
  border-radius: 0.188rem;
}
.lista-checkbox,
.lista-radio {
  list-style: none;
  padding: 0.5rem;
  background-color: aliceblue;
  border: 0.063rem solid #b6ddff;
  border-radius: 0.094rem;
}
.formulario button {
  background-color: #a0d3ff;
  border: 0.125rem solid #67b8ff;
  border-radius: 0.125rem;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
}
